.selection-sort{
    height: 100vh;
    width: 100%;
    display:grid;
    place-items: center;
    color: #fff;

}
.selection-sort-block{
    display: flex;
    justify-content: flex-end;
  
}
.bar-graph{
    margin:0 15px;
    border:2px solid #fff;
    text-align: center;
}