@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=ZCOOL+QingKe+HuangYou&display=swap');
.home_heading{
    width: 100%;
    background-color:#EEEDDE;
    height:100px;
    display: grid;
    place-items: center;
}
.card-list{
    padding:40px;
}
.home_heading > h1{
    font-family: 'Bebas Neue', cursive;
   font-size:100px;
}
@media screen and (max-width: 720px) {
    .home_heading > h1{
        font-family: 'Bebas Neue', cursive;
       font-size:50px;
    }
    .home_heading{
        height:50px;
    }
  }
  @media screen and (max-width: 450px) {
    .home_heading > h1{
        font-family: 'Bebas Neue', cursive;
       font-size:25px;
    }
    .home_heading{
        height:50px;
    }
  }